.slick-track * {
  transition: none;
}
html {
  scroll-behavior: smooth;
  margin: 0 !important;
}
body {
  opacity: 100;
}

.bg-primary {
  background-color: !important;
}

.bg-light {
  background: #f6f6f6;
}
audio {
  outline: 0;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    max-width: 100%;
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    max-width: 960px;
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (max-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 600px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-fluid {
  margin: auto;

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    max-width: 100%;
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    max-width: 960px;
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    max-width: 1266px;
  }

  /* // Extra large devices (large desktops, 1366px and up) */
  @media (min-width: 1366px) {
    max-width: 1326px;
  }

  /* // Extra large devices (large desktops, 1500px and up) */
  @media (min-width: 1500px) {
    max-width: 1460px;
  }

  /* // Extra large devices (large desktops, 1650px and up) */
  @media (min-width: 1650px) {
    max-width: 1600px;
  }

  /* // Extra large devices (large desktops, 1920px and up) */
  @media (min-width: 1920px) {
    max-width: 1820px;
  }

  @media (max-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 600px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #46539a;
  font-weight: 600;
  font-size: 16px;
}

p {
  line-height: 22px;
  font-family: $second_font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary_font;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #000;
  opacity: 0.06;
}

.animation {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.section-head {
  margin: 0 auto 60px;
  width: 900px;
  text-align: center;

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 769px) {
    margin: 0 auto 30px;
  }

  h2,
  h4,
  h3 {
    font-weight: 900;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1a1c25;
    margin-bottom: 20px;
    text-transform: capitalize;

    @media (max-width: 769px) {
      font-size: 35px;
      line-height: 45px;
    }
    @media (max-width: 769px) {
      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: 350px) {
      font-size: 28px;
      line-height: 38px;
    }
  }
  span {
    background: #00b4fc;
    display: inline-block;
    height: 5px;
    width: 100px;
    margin-bottom: 10px;
  }
  p {
    color: #677788;
    width: 750px;
    margin: auto;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      width: 100%;
      font-size: 15px;
    }
    @media (max-width: 400px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.cross2-item-title {
  display: none;
}

.cross2-slider {
  background-color: rgba(192, 192, 192, 0.5);
}

.cross2-slider:after,
.cross2-slider:before {
  background-color: #fff !important;
  border: 1px solid #fff !important;
}

.btn-primary {
  height: 48px;
  width: 220px;
  text-align: center;
  line-height: 48px;
  background-color: $primary_color;
  color: #fff;
  border-radius: 130px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in;

  &:hover {
    filter: drop-shadow(0 8px 34px rgba(6, 132, 65, 0.3));
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-transparent {
  height: 48px;
  width: 220px;
  text-align: center;
  line-height: 48px;
  background-color: transparent;
  border-radius: 130px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s ease-in;
  border: 1px solid #2264ad;
  box-sizing: border-box;
  color: #2264ad;
  margin: auto;
  display: table;

  &:hover {
    background-color: #2264ad;
    color: #fff;
  }
}

.breadcumb {
  width: 100%;
  overflow: hidden;
  padding: 25px 0;
  margin-bottom: 0px;

  h3.title {
    font-size: 30px;
    margin-bottom: 8px;
    line-height: 36px;
    color: #1a1c25;
    font-weight: 600;
  }

  @media (max-width: 600px) {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;

    li {
      float: left;
      margin-right: 10px;

      svg {
        path {
          fill: #1a1c25;
        }
      }

      a {
        font-size: 14px;
        line-height: 22px;
        color: #1a1c25;
        font-family: $second_font;
      }
      &:last-child {
        a {
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: #1a1c25;
        }
      }
    }
  }
}

.about.innerpage {
  padding: 60px 0 80px 0;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}
.gap-45 {
  height: 45px;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

body.home.page-template.page-template-home-template.page-template-home-template-php.page.page-id-2948.logged-in.admin-bar.wp-embed-responsive.customize-support {
  section.header-desktop.mobile.fixed {
    background: #f9fbfe;

    @media screen and (max-width: 1024px) {
      box-shadow: none;
      padding-top: 20px;
    }
  }
}

section.thankyou.about-wrapper .about-banner img {
  width: auto;
}

section.thankyou.about-wrapper .about-banner h1 {
  font-size: 2.41667rem;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body: #eef1fb;
}
.header {
  background: var(--body);
}
.header .nav-link {
  font-weight: 500;
  color: black;
}
.header .nav-link:hover {
  color: #46539a;
}
.search {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  height: 100%;
  padding: 10px 0;
  transform-origin: 0 0 0;
  z-index: 99999;
}

.header-desktop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: top 0.6s;
  -moz-transition: top 0.6s;
  transition: top 0.6s;
  background-color: transparent;
  z-index: 99999999;
  height: 95px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 0px;
    box-sizing: border-box;
    padding: 0 40px;
    max-width: 1820px !important;

    @media (max-width: 1650px) {
      max-width: 1450px !important;
    }
    @media (max-width: 1366px) {
      max-width: 1350px !important;
    }

    @media (max-width: 768px) {
      padding: 0 15px;
    }

    .logo-section {
      display: flex;
      align-items: center;
    }

    .logo {
      width: 200px;

      @media (max-width: 1366px) {
        width: 180px;
      }

      @media (max-width: 1025px) {
        margin-left: 0;
      }

      @media (max-width: 600px) {
        width: 170px;
      }

      a {
        display: inline-block;
        width: 100%;

        img {
          width: 80%;
          height: auto;
        }
      }
    }
  }

  .header-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      padding: 0px 0;
    }

    .contact-list {
      display: flex;

      a {
        margin-right: 33px;
        font-size: 16px;
        color: $text;

        svg {
          margin-right: 8px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .desktop-nav {
      .desktop-navbar-nav {
        list-style: none;

        li {
          float: left;
          position: relative;
          cursor: pointer;

          a {
            text-decoration: none;
            display: inline-block;
            margin: 0px 20px 0px 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            align-items: center;
            text-align: right;
            font-weight: 500;
            color: #171717;
            transition: all 0.4s ease;

            &:hover {
              color: #46539a;
            }
          }

          ul.sub-menu {
            position: absolute;
            width: 260px;
            background: #fff;
            list-style: none;
            z-index: 9999999;
            margin-top: 10px;
            transform: scaleY(0);
            transform-origin: 0 0 0;
            padding-top: 5px;
            transition: all 0.2s ease;

            @media (max-width: 1024px) {
              width: 100%;
              background-color: #fff;
            }

            li {
              width: 100%;
              border-bottom: 1px solid #1a1c2514;

              @media (max-width: 1024px) {
                border-bottom: 0px;
              }
              a {
                margin: 0;
                display: inline-block;
                padding: 10px 15px;
                line-height: 24px;

                @media (max-width: 1024px) {
                  padding: 10px 15px 15px 0;
                }
              }
            }
          }

          &:hover {
            ul.sub-menu {
              transform: scaleY(1);
            }
          }
          ul.sub-menu.active {
            transform: scaleY(1);
          }
        }
        li.menu-item-has-children {
          padding-right: 15px;

          &::after {
            content: "";
            width: 16px;
            height: 11px;
            background: url(../img/submenu-icon.svg);
            right: 15px;
            top: 5px;
            position: absolute;
          }
        }
        li.current_page_item {
          a {
            color: #2264ad;
          }
        }
      }
    }
    /* ***************************JSide Menu**************************** */
    /* ******************************************************* */
    .contact-us {
      display: inline-block;
      margin: 0 0 0px 0;
      height: 46px;
      width: 150px;
      text-align: center;
      background-color: #2264ad !important;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 46px;
      transition: all 0.2s ease-in;
      position: relative;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
      z-index: 2;

      &:before {
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        border-radius: 5px;
        opacity: 0;
        content: "";
        background-color: #3175c1 !important;
        z-index: -1;
      }

      @media (max-width: 1366px) {
        width: 128px;
      }

      &:hover {
        &:before {
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          left: 0;
          right: 0;
          opacity: 1;
        }
      }
      &:focus {
        &:before {
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          left: 0;
          right: 0;
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    display: none;
  }
  @media (max-width: 1366px) {
    .audio-player {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  header {
    display: none;
  }
}

@media (max-width: 1024px) {
  section.header-desktop.mobile.fixed {
    position: relative;
    background: #fff;
    padding: 10px 0;
  }
}

@media (max-width: 500px) {
  .audio-player {
    width: 90% !important;
  }
}

@media (max-width: 600px) {
  body.home.page-template.page-template-home-template.page-template-home-template-php.page.page-id-2948.logged-in.admin-bar.wp-embed-responsive.customize-support {
    .header-desktop.mobile {
      background: #fafbfe;
      padding-top: 20px;
      position: relative;
    }
  }
}

.header-desktop.mobile {
  display: none;
  height: auto;

  @media (max-width: 1025px) {
    display: block;
    position: relative;
    background: #fafbfe;
    padding-top: 20px;

    .menu-icon {
      height: 40px;
      width: 40px;
      border-radius: 130px;
      border: none;
      background: #2264ad;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -10px;

      @media (max-width: 600px) {
        margin-right: 0px;
      }

      button {
        background: transparent;
        border: none;
        line-height: 0;
        outline: 0;
      }
    }
  }
  .mobile-menu-wrapper {
    width: 100%;
    padding-left: 10px;
    padding-top: 30px;

    .desktop-nav {
      width: 100%;
      display: inline-block;

      .desktop-navbar-nav {
        list-style: none;

        li {
          float: left;
          width: 100%;

          a {
            margin: 0 0 12px 0;
            border-bottom: 1px solid rgba(147, 147, 147, 0.1);
            width: 100%;
            padding-bottom: 12px;
            display: inherit;
            color: #171717;
            font-size: 16px;
            line-height: 26px;
          }
        }
        li.current_page_item {
          a {
            color: #2264ad;
          }
        }
      }
    }

    .contact-us {
      display: inline-block;
      margin: 13px 0;
      height: 46px;
      width: 150px;
      text-align: center;
      background-color: #2264ad !important;
      color: #fff;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 46px;
      transition: all 0.2s ease-in;
    }
  }
}

section.header-desktop.mobile {
  .container {
    display: inherit;
  }

  .mobile.header-bottom {
    height: 100vh;
    background: #f9fafd;
    width: 100%;
    left: 0;
    position: absolute;
    top: 70px;
  }
}

.headroom {
  will-change: transform;
  transition: transform 400ms ease-in-out;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

section.header-desktop.headroom.headroom--not-bottom.headroom--not-top.headroom--pinned {
  position: fixed;
  width: 100%;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 99999999999;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header-desktop
  .header-bottom
  .desktop-nav
  .desktop-navbar-nav
  li
  ul.sub-menu.active {
  transform: scaleY(1);
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .js #menu {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }
}

/* - - - Relevant to demo - - - */

.header-desktop.off-canvas {
  top: -123px;
}

.header-desktop.fixed {
  top: 0;
  z-index: 9999;
  position: absolute;
  background: transparent;
  height: 95px;

  @media (max-width: 1025px) {
    height: auto;
  }
}

.header-desktop.off-canvas.fixed {
  position: fixed;
  background: #fff;
  box-shadow: 0 -1px 11px rgba(142, 132, 132, 0.3);
  height: auto;
  padding-top: 15px;
  padding-bottom: 5px;

  @media (max-width: 769px) {
    padding-top: 0px;
  }
}

header {
  height: 95px;
  width: 100%;
  position: absolute;
}

#wpadminbar {
  bottom: 0;
  top: inherit;
}

.search-contact {
  display: flex;
  align-items: center;

  button.search-expend-icon {
    background: transparent;
    border: none;
    outline: 0;
    height: 50px;
    width: 45px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-right: 15px;

    svg {
      width: 30px;
      height: auto;
    }
  }

  button.search-btn-close {
    background: transparent;
    border: none;
    outline: 0;
    height: 50px;
    width: 45px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background: #2264ad;
    position: relative;
    top: 2px;

    svg {
      width: 16px;
      height: auto;

      path {
        fill: #fff;
      }
    }
  }

  .search-btn {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    height: 100%;
    padding: 10px 0;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    z-index: 99999;
  }

  .form-label-wrapper {
    position: absolute;
    top: 100px;
    width: 660px;
    left: 50%;
    transform: translateX(-50%);
  }

  div#datafetch {
    position: absolute;
    top: 150px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;

    h2 {
      padding: 15px 40px;
      font-size: 17px;
      font-weight: 500;
      border-bottom: 1px solid #3636361f;
      color: #000;
      a {
        color: #000;
      }
    }
  }

  .search-btn.active {
    transform: scaleY(1);
  }
}

.single.single-post,
.page-template-portfolio,
.page-template-services,
.page-template-about,
.page-template-blog {
  .header-desktop.fixed {
    box-shadow: 0 -1px 11px rgba(142, 132, 132, 0.3);
  }
}

.page-template-blog {
  background-color: #f9fcff;
}

.nav-top {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 101;
  width: 100%;
  display: none;

  @media only screen and (max-width: 1024px) {
    display: block;
  }
}
.nav-top .hamburger {
  margin-left: auto;
  color: #fff;
  cursor: pointer;
}

.nav-drill {
  margin-top: 80px;
  transform: translateX(100%);
}

.nav-is-toggled .nav-drill {
  transform: translateX(0);
}
.nav-is-toggled::after {
  opacity: 1;
  visibility: visible;
}

.nav-drill {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.45s;

  .toggle-search {
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }
}
.nav-items {
  flex: 0 0 100%;
  list-style: none;
  box-sizing: border-box;
}
.nav-item {
  border-bottom: 1px solid #ebebeb;
  margin-left: 15px;
  box-sizing: border-box;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #031c3a;
  padding: 24px 24px 24px 0;
}
.nav-expand-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #fff;
  transition: 0.3s;
  visibility: hidden;
}
.nav-expand-content .nav-item {
  border-bottom: 1px solid #ebebeb;
}
.nav-expand-content .nav-link {
  background-color: #fff;

  span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav-expand-content .nav-back-link {
  display: flex;
  align-items: center;
  background-color: #2264ad !important;
  color: #fff;
  height: 73px;
  box-sizing: border-box;

  svg {
    margin-right: 17px;

    path {
      fill: #fff;
    }
  }
}

.text-top-back {
  position: absolute;
  top: 24px;
  background: #f6f8fa;
  left: 31px;
  border-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.nav-expand-content .nav-back-link::before {
  content: "";
  margin-right: 0.5em;
  font-family: "Material Icons";
}
.nav-expand-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-title-wrap {
    display: flex;
    align-items: center;

    img,
    svg {
      margin-right: 17px;
    }
  }

  button.dropdown-arrow {
    background: transparent;
    border: 0;
    transform: rotate(270deg);
  }
}

.nav-expand.active > .nav-expand-content {
  transform: translateX(0);
  visibility: visible;
}

.nav-is-toggled .nav-top .hamburger .open-menu {
  display: none;
}

.nav-top .hamburger .close-menu {
  display: none;
}

.nav-is-toggled .nav-top .hamburger .close-menu {
  display: flex;
  justify-content: center;
}

.nav-top .hamburger .open-menu {
  display: flex;
  justify-content: center;
}

ul.nav-items.nav-expand-content {
  li:first-child {
    margin-left: 0;
  }
}
/* ****************Hero********************** */
.hero {
  position: relative;
  height: 700px;
  @media (max-width: 1024px) {
    height: auto;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  img.hero-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      display: block;
    }

    .banner-content {
      width: 460px;
      padding-right: 30px;

      h2 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
      }

      @media (max-width: 1024px) {
        margin: auto;
        padding-top: 40px;
        width: 100%;
        padding-right: 0;
        text-align: center;
      }

      @media (max-width: 768px) {
        padding-top: 50px;
      }

      @media (max-width: 600px) {
        padding-top: 30px;
      }

      img.package_image {
        max-width: 200px;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        color: #000 !important;
        margin-bottom: 22px;

        @media (max-width: 600px) {
          font-size: 30px;
          line-height: 38px;
        }
      }
      p {
        font-size: 15px;
        margin-bottom: 30px;
        font-weight: 600;
        color: #2f1c6a !important;
        line-height: 26px;
      }
      a {
        background-color: #2264ad;
        color: #fff;
        text-decoration: none;
        width: 255px;
        display: inline-block;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 40px;
        position: relative;
        z-index: 2;

        &:before {
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          position: absolute;
          top: 0;
          left: 50%;
          right: 50%;
          bottom: 0;
          border-radius: 40px;
          opacity: 0;
          content: "";
          background-color: #3175c1 !important;
          z-index: -1;
        }

        &:hover {
          &:before {
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            left: 0;
            right: 0;
            opacity: 1;
          }
        }
        &:focus {
          &:before {
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            left: 0;
            right: 0;
            opacity: 1;
          }
        }
      }

      .audio-player {
        display: none !important;

        @media (max-width: 1024px) {
          display: block !important;
          width: 325px;
          margin: 0 auto 20px;
        }
      }
    }
  }

  .banner-thumb {
    position: relative;
    margin-top: 80px;
    cursor: pointer;

    @media (max-width: 1025px) {
      max-width: 420px;
      margin: 50px auto 80px;
    }

    @media (max-width: 769px) {
      margin-top: 40px;
    }

    @media (max-width: 480px) {
      max-width: 100%;
    }

    img.product-background {
      height: auto;

      @media (max-width: 1025px) {
        margin: auto;
        display: table;
      }
    }

    img.product-image {
      top: 50%;
      height: auto;
      transform: translateY(-50%);
      position: absolute;
      width: 410px;
      right: 0px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: shoe-slide-right-animation;
      animation-name: shoe-slide-right-animation;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;

      @media (max-width: 480px) {
        left: 0;
        right: inherit;
      }
    }

    img.change-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: 0;
      transition: all 0.3s ease;
      width: 424px;
      height: auto;
      opacity: 0;
      visibility: hidden;
      left: 226px;

      @media (max-width: 1025px) {
        left: -27px;
      }

      @media (max-width: 480px) {
        left: 0;
        right: inherit;
      }
    }

    .product-image-wrapper.active {
      img.change-image {
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover {
      img.change-image {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@keyframes shoe-slide-right-animation {
  0% {
    opacity: 0;
    right: -150px;
    bottom: 350px;
  }
  100% {
    opacity: 1;
    right: 32px;
    bottom: 20px;
  }
}
@-webkit-keyframes change-img-slide-left-animation {
  0% {
    opacity: 0;
    left: -150px;
    bottom: 350px;
  }
  100% {
    opacity: 1;
    left: 15px;
    bottom: 165px;
  }
}

@keyframes change-img-slide-left-animation {
  0% {
    opacity: 0;
    left: -150px;
    bottom: 350px;
  }
  100% {
    opacity: 1;
    left: 15px;
    bottom: 165px;
  }
}

@-webkit-keyframes price-slide-right-animation {
  0% {
    opacity: 0;
    right: -100px;
    top: 50px;
  }
  100% {
    opacity: 1;
    right: 100px;
    top: 130px;
  }
}

@keyframes price-slide-right-animation {
  0% {
    opacity: 0;
    right: -100px;
    top: 50px;
  }
  100% {
    opacity: 1;
    right: 100px;
    top: 130px;
  }
}

/* ************Precess*************** */
.process {
  padding: 40px 0 80px 0;

  .process-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 769px) {
      display: block;
    }

    .process-thumb {
      width: 50%;
      padding-right: 30px;
      box-sizing: border-box;

      @media (max-width: 769px) {
        width: 100%;
        padding-right: 0px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
    .all-item {
      width: 50%;
      padding-left: 30px;
      box-sizing: border-box;

      @media (max-width: 769px) {
        width: 100%;
        padding-left: 0px;
      }

      .process-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem !important;
        cursor: pointer;
        padding: 1.5rem !important;
        padding-right: 0 !important;
        border: 1px solid transparent;
        transition: all 0.4s ease;

        img {
          width: 60px;
          height: auto;
          margin-right: 30px;
        }

        .process-content {
          width: calc(100% - 130px);

          @media (max-width: 400px) {
            width: 100%;
          }

          h3 {
            color: #677788;
            margin-bottom: 15px;
            font-size: 1rem;

            @media (max-width: 769px) {
              margin: 0;
            }

            @media (max-width: 400px) {
              margin-bottom: 10px;
            }
          }
          p {
            font-size: 1rem;
            color: #677788;
            line-height: 26px;
          }
        }
        &:hover {
          background-color: #fff;
          border: 1px solid #e7eaf3;
          box-shadow: 0 0 35px rgba(140, 152, 164, 0.13);

          .process-content {
            h3 {
              color: #377dff;
            }
          }
        }
      }
      .process-item.active {
        background-color: #fff;
        border: 1px solid #e7eaf3;
        box-shadow: 0 0 35px rgba(140, 152, 164, 0.13);

        .process-content {
          h3 {
            color: #377dff;
          }
        }
      }
    }
  }
}
/* *********Why Choose************ */
.why-choose {
  padding: 80px 0;

  .section-head {
    margin: 0 auto 60px;
    width: 900px;
    text-align: center;

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 769px) {
      margin: 0 auto 30px;
    }

    h3 {
      font-weight: 900;
      font-size: 45px;
      line-height: 55px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #1a1c25;
      margin-bottom: 20px;
      text-transform: capitalize;

      @media (max-width: 769px) {
        font-size: 35px;
        line-height: 45px;
      }
      @media (max-width: 769px) {
        font-size: 32px;
        line-height: 45px;
      }

      @media (max-width: 380px) {
        font-size: 28px;
        line-height: 38px;
      }
    }
    span {
      background: #00b4fc;
      display: inline-block;
      height: 5px;
      width: 100px;
      margin-bottom: 10px;
    }
    p {
      color: #677788;
      width: 750px;
      margin: auto;
      margin-bottom: 20px;

      @media (max-width: 600px) {
        width: 100%;
        font-size: 15px;
      }
      @media (max-width: 400px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .choose-area {
    display: flex;
    flex-wrap: wrap;

    .choose-item {
      width: calc(25% - 30px);
      margin-bottom: 30px;
      margin-right: 30px;
      text-align: center;

      @media (max-width: 1024px) {
        width: calc(33.33% - 30px);
      }

      @media (max-width: 768px) {
        width: calc(50% - 30px);
      }

      @media (max-width: 480px) {
        width: 100%;
        margin: 0;
      }

      img,
      svg {
        margin-bottom: 15px;
      }
      h4 {
        color: #0d0d0d;
        margin-bottom: 15px;
        font-family: $second_font;
      }
      p {
        font-size: 14px;
        color: #677788;
        line-height: 26px;
      }
    }
  }
}

/* *********Get In Touch************* */
#get-in-touch {
  padding: 70px 0;
  position: relative;
  overflow: hidden;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1024px) {
      justify-content: center;
    }

    .thumbnail {
      width: 550px;

      @media (max-width: 500px) {
        width: 100%;
      }

      video {
        pointer-events: none;
        outline: 0;

        @media (max-width: 500px) {
          width: 100%;
          object-fit: cover;
        }
      }
      video::-webkit-media-controls {
        display: none;
      }
    }

    .section-content {
      width: 422px;

      @media (max-width: 500px) {
        width: 100%;
      }

      h3 {
        color: #aaacb6;
        font-weight: 600;
        margin-bottom: 20px;
        letter-spacing: 4px;
        text-transform: uppercase;
      }
      h4 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px;
        font-weight: 700;
        color: #2f1c6a;

        @media (max-width: 600px) {
          font-size: 32px;
          line-height: 45px;
        }
      }
      p {
        margin-bottom: 20px;
        color: #72809d;
        font-size: 16px;
        line-height: 26px;
      }
      a.learn-more {
        display: inline-block;
        margin: 0 0 0px 0;
        height: 46px;
        width: 150px;
        text-align: center;
        background-color: #2264ad !important;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 46px;
        transition: all 0.2s ease-in;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
        z-index: 2;

        &:before {
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          position: absolute;
          top: 0;
          left: 50%;
          right: 50%;
          bottom: 0;
          border-radius: 5px;
          opacity: 0;
          content: "";
          background-color: #3175c1 !important;
          z-index: -1;
        }

        @media (max-width: 1366px) {
          width: 128px;
        }

        &:hover {
          &:before {
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            left: 0;
            right: 0;
            opacity: 1;
          }
        }
        &:focus {
          &:before {
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            left: 0;
            right: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}
.controls {
  z-index: 2147483647;
  display: flex;
  position: absolute;
  flex-direction: row;
  bottom: 0;
  width: 98%;
  margin: 10px 0;
  display: none;
  align-items: center;
  transform: translateY(100%) translateY(10px);
  background-color: transparent;
  &.onmousemove {
    transform: translateY(100%) translateY(10px) !important;
  }
}

/* *********Feature Brand************ */
.payment {
  padding: 70px 0;
  position: relative;

  .section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .container {
    position: relative;

    .section-head {
      width: 760px;
      margin-bottom: 60px;

      @media (max-width: 769px) {
        width: 100%;
      }

      h4 {
        font-weight: 900;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 20px;
        text-transform: capitalize;

        @media (max-width: 480px) {
          font-size: 32px;
          line-height: 45px;
        }
      }

      p {
        color: #fff;
        font-size: 15px;
        line-height: 28px;
        width: 650px;

        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }

    .methods {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .payment-item {
        width: calc(16% - 30px);
        margin-right: 30px;
        margin-bottom: 30px;

        @media (max-width: 769px) {
          width: calc(30% - 30px);
        }

        @media (max-width: 400px) {
          width: calc(50% - 30px);
        }

        img {
          height: auto;
        }
      }
      .payment-item:last-child {
        margin-right: 0px;
      }
    }
  }
}

section.free-trial {
  padding: 50px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 1024px) {
      justify-content: center;
    }

    p {
      width: 68%;
      padding-right: 30px;
      color: #fff;
      font-size: 15px;
      line-height: 24px;

      @media (max-width: 1024px) {
        margin-bottom: 30px;
        text-align: center;
      }

      @media (max-width: 400px) {
        width: 100%;
        padding-right: 0;
      }
      @media (max-width: 350px) {
        font-size: 14px;
      }
    }
    .btn-group {
      @media (max-width: 350px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      a {
        background-color: #2264ad !important;
        color: #fff;
        text-decoration: none;
        padding: 11px 30px;
        display: inline-block;
        margin-right: 14px;
        border-radius: 3px;
        width: 151px;
        box-sizing: border-box;
        text-align: center;
        font-size: 15px;
        transition: all 0.2s ease-in;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
        position: relative;
        z-index: 2;

        &:before {
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          position: absolute;
          top: 0;
          left: 50%;
          right: 50%;
          bottom: 0;
          border-radius: 0px;
          opacity: 0;
          content: "";
          background-color: #3175c1 !important;
          z-index: -1;
        }

        @media (max-width: 380px) {
          padding: 10px 15px;
          text-align: center;
          width: 140px;
          margin-bottom: 15px;
        }

        &:hover {
          &:before {
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            left: 0;
            right: 0;
            color: #fff;
            border: 0;
            opacity: 1;
          }
        }
        &:focus {
          &:before {
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease;
            left: 0;
            right: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}

.product-area {
  margin-bottom: -30px;
  display: grid;
  grid-template: auto / 25% 25% 25% 25%;
  margin-right: -24px;
  grid-row-gap: 50px;
  grid-column-gap: 24px;

  @media (max-width: 1024px) {
    grid-template: auto / 50% 50%;
  }

  a.product-item {
    display: inline-block;
    width: 100%;

    .product-thumb {
      position: relative;

      .badge {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        text-align: right;

        .sale {
          background: #ca1010;
          padding: 5px 15px;
          box-sizing: border-box;
          color: #fff;
          font-weight: bold;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0.02em;
        }
        .clearence {
          background: #022c3b;
        }
      }
    }

    .divider {
      margin: 22px 0 26px 0;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid #e7e7eb;
    }

    .product-content {
      padding-bottom: 25px;
      border-bottom: 1px solid #e7e7eb;

      p {
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #022c3b;
        margin-bottom: 22px;
      }

      .price {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        label {
          font-size: 12px;
          line-height: 18px;
          color: #022c3b;
          margin-right: 5px;
          top: -4px;
          position: relative;
        }

        .amount {
          bdi {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            color: #022c3b;

            span {
              color: #022c3b;
            }
          }
        }

        .product-price {
          ins {
            margin-right: 5px;
            color: #ca1010 !important;
            font-size: 24px !important;
            font-weight: 700;
            line-height: 36px;
            font-family: "gothambold";
            text-decoration: none !important;

            span {
              color: #ca1010 !important;
            }

            .amount {
              bdi {
                color: #ca1010 !important;
              }
            }
          }

          del {
            text-decoration: line-through;
            text-decoration-color: #737373;
            span {
              bdi {
                font-size: 18px !important;
                line-height: 27px !important;
                color: #737373 !important;
                margin-right: 2px !important;
                font-weight: 400 !important;

                span {
                  font-size: 18px !important;
                  line-height: 27px !important;
                  font-weight: 400 !important;
                  color: #737373;
                }
              }
            }
          }
        }
      }
    }
  }
  a.product-item.mr-0 {
    margin-right: 0;
  }
}

.product.desktop {
  .product-tab-wrapper {
    margin-bottom: 40px;
    border-bottom: 1px saddlebrown;
  }
}

.product-thumb-slider {
  .product-pagination {
    .nav-item {
      width: 100px;
      height: 100px;
      margin-right: 8px;

      .nav-link {
        margin-right: 0;
        width: 100%;
        height: 100%;

        .product-thumb {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .nav.nav-tabs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li.nav-item {
      a {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #8c929e;
        margin-right: 42px;
        padding-bottom: 23px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 2px;
          background-color: #0786b4;
          opacity: 0;
        }
      }
      a.active {
        color: #022c3b;
        &::after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  .tab-content > .tab-pane {
    display: none;
  }

  .fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }

  .tab-content > .active {
    display: block;
  }

  .tab-pane.fade {
    transition: all 0.2s;
  }

  .tab-pane.fade.show {
    opacity: 1;
  }
}

.product {
  padding-bottom: 70px;
  display: inline-block;
  width: 100%;

  .section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #022c3b;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 45px;
    }
  }

  .nav.nav-tabs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li.nav-item {
      a {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #8c929e;
        margin-right: 42px;
        padding-bottom: 23px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 2px;
          background-color: #0786b4;
          opacity: 0;
        }
      }
      a.active {
        color: #022c3b;
        &::after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  .tab-content > .tab-pane {
    display: none;
  }

  .fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }

  .tab-content > .active {
    display: block;
  }

  .tab-pane.fade {
    transition: all 0.2s;
  }

  .tab-pane.fade.show {
    opacity: 1;
  }
}

.product.desktop {
  @media (max-width: 1024px) {
    display: none;
  }
}

.product.mobile {
  display: none;

  .mobile-tab-wrapper {
    .mobile-tab-wrapper {
    }

    .owl-nav {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    display: block;
  }

  div.tabs {
    padding: 10px;
  }

  div.tabs ul {
    padding: 0px;
    margin: 0;
    list-style-type: none; /* remove the default bullet point for lists */
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #e7e7eb;
  }

  div.tabs ul li {
    float: left;
    border: 0;
    padding-bottom: 24px;
    margin: 0;
    list-style-position: inside;
    text-align: center;
    background-color: transparent;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #0786b4;
      transform: scaleX(0);
      transform-origin: 0 0 0;
      transition: all 0.4s ease;
    }
  }

  div.tabs ul li.selected {
    &::after {
      transform: scaleX(1);
    }
  }

  div.tabs .tab-content-product {
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: block !important;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    top: -1px;

    .product-area a.product-item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  div.tabs .tab-content-product.selected {
    display: block !important;
    opacity: 1 !important;
    height: auto !important;
    padding-top: 30px;
  }
}
#wrapper-footer {
  padding: 0px 0 40px 0;
  background: #000;
  display: inline-block;
  width: 100%;

  .footer-logo {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #6e6e6e;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 30px 0 15px 0;

      @media (max-width: 600px) {
        text-align: left;
      }
      img {
        width: 160px;
        height: auto;
      }
    }

    .dmca-link {
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 600px) {
      display: block;
    }
  }

  .footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px 0;

    @media (max-width: 1024px) {
      display: block;
    }

    .social-menu {
      @media (max-width: 1024px) {
        margin-top: 15px;
      }
    }

    .links {
      a {
        svg {
          path {
            fill: #fff;
          }
          circle {
            stroke: none;
          }
        }
      }
    }
  }
}

.copyright-text {
  margin-top: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin-left: 12px;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;

  .link-item {
    width: 20%;
    padding-right: 30px;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      width: 25%;
    }

    @media (max-width: 500px) {
      width: 50%;
    }

    @media (max-width: 350px) {
      width: 100%;
      margin-bottom: 15px;
    }

    h4.title {
      margin-bottom: 20px;
      color: #fff;
      text-transform: uppercase;
    }

    ul {
      list-style: none;

      li {
        a {
          color: rgba(255, 255, 255, 0.6);
          margin-bottom: 10px;
          display: inline-block;
          transition: all 0.4s ease;
          text-decoration: none;

          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .rating-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    @media (max-width: 1024px) {
      justify-content: flex-start;
      margin-top: 20px;
    }

    svg.trustpilot {
      margin-bottom: 10px;
    }

    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 48px;
      letter-spacing: 0.01em;
      color: #000000;
    }
    h4 {
      color: #ffffff;
      font-size: 20px;
      margin-top: 5px;
      display: inline-block;
    }
    .star {
      width: 100%;
      display: flex;
      justify-content: center;

      @media (max-width: 1024px) {
        justify-content: flex-start;
      }

      span {
        width: 22px;
        height: 25px;
        line-height: 37px;
        background: rgb(0, 182, 122);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        float: left;
        margin-right: 2px;
        margin-bottom: 5px;

        svg {
          width: 15px;

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.ScrollTopToBottom {
  display: inline-block;
  background-color: #2264ad !important;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;

  @media (max-width: 350px) {
    width: 40px;
    height: 40px;
  }

  svg {
    transform: rotate(180deg);

    g {
      fill: #fff;
    }
  }
}

.ScrollTopToBottom.show {
  opacity: 1;
  visibility: visible;
}

.link-item.trustpoint.trustpoint {
  @media (max-width: 600px) {
    width: 100%;
  }
}
